.blog-block h2 {
  margin-bottom: 35px; }

.blog-block img {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 80vh;
  margin: auto; }

.blog-block .content-block {
  max-width: 350px; }
  .blog-block .content-block .img-wrapper {
    height: 260px;
    border-radius: 5px 5px 0 0;
    overflow: hidden; }
    .blog-block .content-block .img-wrapper:hover img {
      transform: scale(1.1); }
    .blog-block .content-block .img-wrapper a {
      display: inline-block;
      height: 100%; }
  .blog-block .content-block .content-wrapper {
    padding: 27px 25px;
    border-radius: 0 0 5px 5px;
    transition: 0.5s box-shadow ease; }
    .blog-block .content-block .content-wrapper .long-arrow {
      width: 38px;
      height: 10px; }
      .blog-block .content-block .content-wrapper .long-arrow:hover path {
        fill: var(--bs-primary); }
  .blog-block .content-block h5 {
    margin-bottom: 24px; }
    .blog-block .content-block h5 + a {
      display: flex; }
  .blog-block .content-block .title-link a {
    text-decoration: none;
    color: var(--bs-secondary);
    transition: 0.3s color ease; }
  .blog-block .content-block .title-link:hover a {
    color: var(--bs-primary); }
  .blog-block .content-block .blog-area {
    display: flex;
    margin-bottom: 18px;
    flex-wrap: wrap; }
    .blog-block .content-block .blog-area p {
      font-size: 14px;
      line-height: 24px;
      display: flex;
      align-items: center; }
      .blog-block .content-block .blog-area p:first-child {
        margin-right: 19px; }
    .blog-block .content-block .blog-area svg {
      width: 13px;
      height: 13px;
      margin-right: 5px; }
      .blog-block .content-block .blog-area svg path {
        fill: var(--bs-primary); }

.blog-block .blog1 .content-block .blog-area p {
  line-height: 16px;
  font-weight: 500; }

.blog-block .blog3 .content-block {
  max-width: 530px; }
  .blog-block .blog3 .content-block .blog-area {
    padding: 6px 12px;
    background-color: var(--bs-primary);
    display: inline-flex;
    font-size: 12px;
    font-family: var(--heading-font);
    font-weight: 500;
    margin-bottom: 14px;
    height: 28px; }
    .blog-block .blog3 .content-block .blog-area p {
      font-size: 12px;
      line-height: 15px; }
      .blog-block .blog3 .content-block .blog-area p:first-child {
        margin: 0; }
    .blog-block .blog3 .content-block .blog-area P {
      color: white; }
  .blog-block .blog3 .content-block .img-wrapper {
    height: 390px;
    border-radius: unset; }
  .blog-block .blog3 .content-block .content-wrapper {
    padding: 38px 0 0 0;
    border-radius: unset;
    box-shadow: unset; }
  .blog-block .blog3 .content-block h4 {
    margin-bottom: 20px; }

.blog-block .blog2 .content-block .content-wrapper {
  padding: 20px 0 0 0;
  box-shadow: unset; }

.blog-block .blog2 .content-block h5 {
  margin-bottom: 21px; }

.blog-block .blog2 .content-block .blog-area {
  margin-bottom: 20px; }
  .blog-block .blog2 .content-block .blog-area p {
    line-height: 16px; }

.blog-block .blog2 .content-block .para {
  margin-bottom: 30px; }

.blog-block .blog2 .content-block .read {
  color: var(--bs-secondary);
  font-family: var(--heading-font);
  font-size: 15px;
  font-weight: 600;
  display: block;
  line-height: 19px; }
  .blog-block .blog2 .content-block .read:hover {
    color: var(--bs-primary); }

.blog-block .blog2 .content-block .img-wrapper {
  border-radius: unset; }

.blog-block .blog4 .content-block {
  max-width: 880px;
  margin: auto; }
  .blog-block .blog4 .content-block .img-wrapper {
    border-radius: unset;
    height: 480px; }
    .blog-block .blog4 .content-block .img-wrapper a {
      width: 100%; }
  .blog-block .blog4 .content-block .content-wrapper {
    padding: 40px 50px 38px;
    border-radius: 0; }
    .blog-block .blog4 .content-block .content-wrapper .long-arrow {
      width: 58px;
      height: 15px; }
  .blog-block .blog4 .content-block .blog-area {
    margin-bottom: 20px; }
    .blog-block .blog4 .content-block .blog-area svg {
      width: 12px;
      height: 16px;
      margin-right: 8px;
      margin-top: -3px; }
    .blog-block .blog4 .content-block .blog-area p {
      font-size: 18px;
      font-weight: 500; }
      .blog-block .blog4 .content-block .blog-area p:first-child {
        margin-right: 29px; }
  .blog-block .blog4 .content-block .title-link {
    margin-bottom: 22px;
    line-height: 30px; }
  .blog-block .blog4 .content-block .para {
    margin-bottom: 35px; }

.blog-block .blog1 .row,
.blog-block .blog2 .row,
.blog-block .blog3 .row {
  justify-content: center; }

.home3-blog {
  background-color: var(--body-bg-color); }

.home3-blog .blog-block .blog3 .content-block .blog-area p {
  font-size: 12px;
  line-height: unset;
  font-family: var(--heading-font);
  font-weight: 500; }

.blog-column2 .blog-block .content-block {
  max-width: unset; }
  .blog-column2 .blog-block .content-block .img-wrapper {
    height: 390px; }

.blog-column2 .blog-block .blog2 .content-block .content-wrapper {
  padding-top: 32px; }
  .blog-column2 .blog-block .blog2 .content-block .content-wrapper h5 {
    font-size: 22px;
    margin-bottom: 23px;
    line-height: 28px; }

.blog-column2 .blog-block .blog2 .content-block .blog-area {
  margin-bottom: 22px; }
  .blog-column2 .blog-block .blog2 .content-block .blog-area p {
    font-size: 15px;
    font-weight: 500; }

.blog-column2 .blog-block .blog2 .row .col-md-6 {
  width: 48.6%; }

.blog-column2 .blog-block .content-block .img-wrapper a,
.blog-column4 .blog-block .content-block .img-wrapper a {
  width: 100%; }

.blog-block .content-block {
  margin-bottom: 52px; }

.blog-column4 .blog-block .content-block .img-wrapper {
  height: 185px; }

.blog-column4 .blog-block .content-block .content-wrapper h5 {
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 16px; }

.blog-column4 .blog-block .blog2 .content-block .blog-area {
  margin-bottom: 6px; }
  .blog-column4 .blog-block .blog2 .content-block .blog-area p {
    margin-bottom: 8px; }

.blog-column4 .blog-block .blog2 .content-block .para {
  margin-bottom: 24px; }

.blog-column4 .blog-block .blog2 .content-block .content-wrapper {
  padding-top: 22px; }

.bloggrid-sidebar .row {
  justify-content: space-between; }
  .bloggrid-sidebar .row .first {
    width: 69%; }
  .bloggrid-sidebar .row .second {
    width: 28.5%; }

.bloggrid-sidebar .blog-block .content-block {
  max-width: unset; }
  .bloggrid-sidebar .blog-block .content-block .img-wrapper a {
    width: 100%; }

.bloggrid-sidebar .blog-block .blog2 .content-block .para {
  margin-bottom: 28px; }

.blog-list2 .blog-block .blog4 .content-block .content-wrapper {
  padding: 42px 0 0 0;
  box-shadow: unset; }

.blog-list2 .blog-block .blog4 .content-block .para {
  margin-bottom: 33px; }

.blog-list2 .blog-block .blog4 .content-block .read {
  color: var(--bs-secondary);
  font-size: 18px;
  line-height: 21px;
  font-family: var(--heading-font);
  font-weight: 600; }
  .blog-list2 .blog-block .blog4 .content-block .read:hover {
    color: var(--bs-primary); }

.blog-list2 .blog-block .blog4 .content-block .img-wrapper {
  position: relative; }
  .blog-list2 .blog-block .blog4 .content-block .img-wrapper p {
    position: absolute;
    top: 25px;
    right: 25px;
    padding: 10px 17px;
    background-color: var(--bs-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 25px;
    line-height: 28px;
    font-family: var(--heading-font);
    font-weight: 600; }

.blog-list2 .row {
  justify-content: space-between; }
  .blog-list2 .row .col-md-8 {
    width: 69%; }
  .blog-list2 .row .col-md-4 {
    width: 28.5%; }

.blog-detailsfull .blog-block {
  max-width: 880px;
  margin: auto; }

.blog-detailsfull.blog-detailsidebar .blog-block {
  max-width: unset; }

.blog-detailsfull.blog-detailsidebar .blockquotes-block {
  margin-bottom: 42px; }

.blog-detailsfull.blog-detailsidebar .comment-wrapper {
  padding: 42px 0 45px; }

.blog-detailsfull.blog-detailsidebar .login-wrapper {
  padding: 42px 0; }

.blog-detailsfull.blog-detailsidebar .divider-wrapper {
  padding: 42px 0 41px; }
  .blog-detailsfull.blog-detailsidebar .divider-wrapper .img-wrapper {
    margin-bottom: 0; }

.blog-detailsfull.blog-detailsidebar .large-mg {
  margin-bottom: 45px; }

.blog-detailsfull.blog-detailsidebar .img-wrapper {
  margin-bottom: 33px; }

.blog-detailsfull.blog-detailsidebar .img-wrapper1 {
  height: 380px; }

.blog-detailsfull .small-mg {
  margin-bottom: 25px; }

.blog-detailsfull .large-mg {
  margin-bottom: 53px; }

.blog-detailsfull .img-wrapper {
  margin-bottom: 50px; }

.blog-detailsfull .blockquotes-block {
  margin-bottom: 50px; }

.blog-detailsfull .links-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  flex-wrap: wrap; }
  .blog-detailsfull .links-wrapper ul {
    display: flex;
    margin: 0;
    flex-wrap: wrap; }
    .blog-detailsfull .links-wrapper ul li a {
      color: var(--paragraph-text-color);
      font-size: 18px;
      line-height: 21px;
      font-family: var(--heading-font);
      font-weight: 500; }
      .blog-detailsfull .links-wrapper ul li a:hover {
        color: var(--bs-primary); }
  .blog-detailsfull .links-wrapper .social-icons a {
    display: inline-block; }
    .blog-detailsfull .links-wrapper .social-icons a svg {
      height: 16px;
      width: auto; }
      .blog-detailsfull .links-wrapper .social-icons a svg path {
        fill: var(--paragraph-text-color); }
      .blog-detailsfull .links-wrapper .social-icons a svg:hover path {
        fill: var(--bs-primary); }

.blog-detailsfull .comment-wrapper {
  padding: 50px 0 53px; }
  .blog-detailsfull .comment-wrapper .comment-area {
    display: flex;
    position: relative; }
    .blog-detailsfull .comment-wrapper .comment-area .img-wrapper {
      min-width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 16px; }
    .blog-detailsfull .comment-wrapper .comment-area .content-wrapper h5 {
      line-height: 21px;
      margin-bottom: 9px; }
    .blog-detailsfull .comment-wrapper .comment-area .content-wrapper span {
      display: block;
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 15px;
      font-family: var(--paragraph-font);
      font-weight: 400;
      color: var(--paragraph-text-color); }
    .blog-detailsfull .comment-wrapper .comment-area .reply {
      position: absolute;
      font-size: 15px;
      line-height: 18px;
      font-family: var(--heading-font);
      font-weight: 600;
      top: 0;
      right: 0;
      color: var(--bs-secondary);
      text-decoration: none; }
      .blog-detailsfull .comment-wrapper .comment-area .reply:hover {
        color: var(--bs-primary); }

.blog-detailsfull .login-wrapper h3 {
  text-align: center;
  margin: 0; }
  .blog-detailsfull .login-wrapper h3 a {
    text-decoration: none;
    color: var(--bs-primary); }

.blog-detailsfull .divider-wrapper {
  display: flex;
  justify-content: space-between; }
  .blog-detailsfull .divider-wrapper .right-wrapper {
    text-align: end; }
    .blog-detailsfull .divider-wrapper .right-wrapper .img-wrapper {
      margin-left: 12px; }
  .blog-detailsfull .divider-wrapper .img-wrapper {
    min-width: 52px;
    height: 52px;
    margin-bottom: 0; }
  .blog-detailsfull .divider-wrapper .content-wrapper h6 {
    margin-bottom: 14px;
    line-height: 20px;
    font-weight: 600; }
    .blog-detailsfull .divider-wrapper .content-wrapper h6 a {
      text-decoration: none;
      color: var(--bs-secondary); }
  .blog-detailsfull .divider-wrapper .content-wrapper p {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500; }
    .blog-detailsfull .divider-wrapper .content-wrapper p svg {
      width: 9px;
      height: 9px;
      margin-right: 5px;
      margin-top: -2px; }
      .blog-detailsfull .divider-wrapper .content-wrapper p svg path {
        fill: var(--bs-primary); }
  .blog-detailsfull .divider-wrapper .left-wrapper .img-wrapper {
    margin-right: 12px; }

.blog-detailsfull .login-wrapper,
.blog-detailsfull .divider-wrapper {
  padding: 50px 0; }

.blog-detailsfull .divider-wrapper .left-wrapper,
.blog-detailsfull .divider-wrapper .right-wrapper {
  display: flex;
  max-width: 300px; }

.blog-detailsfull .links-wrapper,
.blog-detailsfull .comment-wrapper,
.blog-detailsfull .login-wrapper,
.blog-detailsfull .divider-wrapper {
  border-bottom: 1px solid #00000026; }

.next-prev-node {
  border-top: 1px solid #00000026; }

.comment-wrapper.child-comment {
  border-bottom: none; }

.blog-detailsidebar .sidebar .img-wrapper {
  height: unset;
  margin-bottom: unset; }

.blog-detailsidebar .sidebar .comment-wrapper {
  padding: 0;
  border-bottom: unset; }

.blog-detailsidebar .row {
  justify-content: space-between; }
  .blog-detailsidebar .row .col-md-8 {
    width: 69%; }
  .blog-detailsidebar .row .col-md-4 {
    width: 29%; }

.blog-detailsfull .blockquotes-block {
  margin-top: 53px; }

.blog-detailsfull .blockquotes-block p {
  margin-bottom: unset; }

.blog-detailsfull .blogs-img-wrapper {
  padding-top: 33px; }

.blog-detailsfull .blogs-img-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1em; }

.blogs-teasers {
  display: flex;
  margin-bottom: 2em; }
  .blogs-teasers .img-wrapper {
    max-width: 50%;
    width: 400px;
    overflow: hidden; }
  .blogs-teasers:hover .img-wrapper img {
    border: 1px solid red;
    transform: scale(1.1); }
  .blogs-teasers .long-arrow {
    width: 54px;
    height: 14px; }
  .blogs-teasers .wrap-1 {
    width: 100%;
    padding: 45px; }
